<div id="page">
  <div class="sidebar-content"> <!-- Side bar -->
    <aside>
      <div class="sidebar">
        <div class="header sidebar">
          <div class="title-sidebar">
            <h3>SLACA 2019</h3>
          </div>
        </div>
        <img id="scala-logo" src="../assets/dewey-4.png" alt="Logo da 13 Scala" />
        <nav class="navbar nav">
          <div class="navbar-options">
            <a href="#" id="apresentation"><label>Apresentação</label></a>
            <a href="#" id="committees"><label>Comitê</label></a>
            <a href="#" id="authors"><label>Autores</label></a>
            <a href="#" id="theme"><label>Eixos temáticos</label></a>
            <a href="#" id="works"><label>Trabalhos</label></a>
            <a href="#" id="contact"><label>Contato</label></a>
          </div>
        </nav>
      </div>
    </aside>
  </div>

  <div class="main">
    <div class="headerp page"> <!-- Cabeçalho -->
      <div class="headerp">
        <div class="headerp-txt1">
          <p id="top-text-1">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
          <p id="top-text-2">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
          <p id="user-code">ISSN: 1234-5678</p>
        </div>
      </div>

      <div id="header-language">
        <div id="language-btn">
          <img id="globo" src="../assets/language-image.svg" alt="Imagem de um globo" />
          <div id="language-text">PT, BR</div>
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
            <path d="M4 5L7 1H1L4 5Z" fill="#333333" stroke="#333333" />
          </svg>
        </div>
      </div>

      <div id="user-informations">
        <div class="headerp-txt2">
          <p id="welcome-message">Bem vindo!</p>
          <p id="user-email">alguem12@galoascience.com</p>
        </div>

        <div id="user-header">
          <img id="woman-profile" src="../assets/image.png" alt="Imagem do usuário (uma mulher)">
          <div id="notification-sign">
            <p id="notification-number">2</p>
          </div>
        </div>
      </div>
    </div>

    <div class="page-body">
      <div id="title-btn">
        <div id="title-analysis"> <!-- Titulo -->
          <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município
            de Campinas/SP</h2>
        </div>

        <div class="general-options">
          <div id="general-btn"> <!-- Botões do site -->
            <img src="../assets/download button.png" alt="Botão de Download" />
            <img src="../assets/favorite button.png" alt="Botão de favoritar" />
            <img src="../assets/doi-button.svg" alt="Botão doi" />
          </div>
          <p id="make-quote">COMO CITAR ESSE TRABALHO?</p>
        </div>
      </div>

      <div class="video-details">
        <div class="video-principal"> <!-- Vídeo e informações -->
          <div class="informações-video">
            <img src="../assets/vídeo overlay.png" alt="Camada do vídeo" />
            <h3>
              Análise sensorial de preparações funcionais desenvolvidas para
              escolares entre 09 e 15 anos, do município de Campinas/SP
            </h3>
            <div class="author">
              <img src="../assets/round.svg" alt="Imagem Master Round">
              <div class="author-informations">
                <p id="author-name">Beatriz Christiane Melo</p>
                <p id="author-formation">FCA / Universidade Estadual de Campinas</p>
              </div>
            </div>
          </div>
        </div>
        <div class="apresentation-details"> <!-- Detalhes da apresentação -->
          <div id="details-text">
            <p>Detalhes</p>
          </div>
          <div class="text-scroll">
            <p class="presentation-text">
              Tipo de Apresentação: <span class="bold-text one">Pôster</span><br>
              Eixo temático: <span class="bold-text one">Alimentação e saúde (AS)</span><br>
              Palavras-chaves: <span class="bold-text one">Alimentos funcionais, alimentação escolar.</span><br><br><br>
              <span id="bold-text-2">Autores:</span><br> <span id="authors-section">Galileo Galilei¹<br>Berta Lange de
                Morretes²<br>Isaac Newton³<br>Cesar Lattes¹<br>Stephen Hawking⁴</span><br><br><br>
              <span id="universities-list">¹Universidade Estadual de Campinas<br>²Universidade de São
                Paulo<br>³Instituto Nacional de Pesquisas Espaciais<br>⁴Universidade Federal do Rio de Janeiro</span>
            </p>
            <div class="scroll-bar">
              <div class="scroll-bar select"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="resume-comments">
        <div class="resume"> <!-- Resumo da apresentação -->
          <div class="resume header">
            <p>Resume</p>
          </div>
          <div class="resume text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis
              auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis
              lacus.
              Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit
              amet.
              Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum
              lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida
              eros
              vestibulum<span id="dots">...</span><span id="more">.<br><br>

                Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat.
                Proin
                dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris
                sodales
                id.
                Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam
                finibus
                urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum
                quis
                diam
                ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.<br><br>

                Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec
                eleifend
                vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus
                dui
                eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent
                blandit
                elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio.
                Phasellus at
                lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis,
                mi
                vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero
                luctus,
                consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.<br><br>

                Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
                hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus
                dolor
                at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam
                at
                malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem
                ipsum
                dolor sit amet, consectetur adipiscing elit.</span><span (click)="readMore()" class="btn-show-more">ver
                mais</span></p>
          </div>
        </div>

        <div class="discussion-section"> <!-- Discussões -->
          <div class="discussion-section text">
            <p id="discussions">Discussões</p>
          </div>
          <div class="create-topic">
            <p id="topic-text-1">Compartilhe suas ideias ou dúvidas com os autores!</p>
            <div class="topic-icons">
              <img id="topic-icon-1" src="../assets/icone1.svg">
              <img id="topic-icon-2" src="../assets/icone2.svg">
              <img id="topic-icon-3" src="../assets/icone3.svg">
            </div>
            <p id="topic-text-2">Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade?
              Deixe seus questionamentos ou sugestões para o autor!</p>
          </div>

          <div class="message-topics"> <!-- Mensagem de tópico enviado -->
            <div class="thanks-contribution">
              <p id="thanks-txt-1">Seu tópico foi enviado com sucesso! :D</p>
              <p id="thanks-txt-2">Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que
                seu tópico for respondido!</p>
              <p id="thanks-txt-3">Descubra outros trabalhos!</p>
            </div>

            <div class="divisiontwo">
              <img class="dividertwo" src="../assets/divisória.png">
              <img class="btn-create-topictwo img" src="../assets/button bg.png">
              <div class="topic-btntwo" (click)="createTopic()">
                <p class="btn-create-topictwo text">criar novo tópico</p>
              </div>
            </div>

            <div class="message-topics-2">
              <div class="topic-sent">
                <div id="topic-sent-sucess">
                  <img src="../assets/.png">
                  <p id="waiting-feedback">Aguardando feedback dos autores</p>
                  <p id="edit-topic">Editar tópico</p>
                </div>
              </div>

              <div class="comment card-topic">
                <div class="comment-informations">
                  <p class="ops-topic-subject">Assunto da pergunta aparece aqui</p>
                  <p id="comment-author">Carlos
                    Henrique Santos</p>
                  <p id="comment-explained">Comecinho da pergunta aparece aqui resente relato
                    inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de
                    processo
                    formativo processo...</p>
                </div>
              </div>
            </div>
          </div>

          <form> <!-- Formulário para enviar tópico -->
            <p id="share-feedback">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
            <p class="subject-content text-1">Assunto</p>
            <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
            <p class="subject-content text-2">Conteúdo</p>
            <div class="topic-content">
              <div id="gray-rectangle"></div>
              <button type="button" id="send-topic" (click)="sendTopic()">Enviar</button>
            </div>
          </form>

          <div class="division">
            <img class="divider" src="../assets/divisória.png">
            <img class="btn-create-topic img" src="../assets/button bg.png">
            <div class="topic-btn" (click)="createTopic()">
              <p class="btn-create-topic text">criar tópico</p>
              <img id="add" src="../assets/icon - criar.png">
            </div>
          </div>

          <div class="cards">
            <div class="comment card-one"> <!-- Comentários -->
              <div class="comment-informations">
                <p class="ops-topic-subject">Assunto da pergunta aparece aqui</p>
                <p id="comment-author">Carlos
                  Henrique Santos</p>
                <p id="comment-explained">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
                <div class="comment-options">
                  <img id="more-informations" src="../assets/mais informações.png">
                  <div class="favorite-btn">
                    <img id="btn-bg" src="../assets/button bg.svg">
                    <img id="heart" src="../assets/green apples 22.png">
                  </div>
                  <p id="comment-indexes"><span id="like-text">1 like</span>1 resposta</p>
                </div>
              </div>
            </div>

            <div class="comment answered-topic">
              <div class="comment-informations">
                <p class="ops-topic-subject">Assunto da pergunta aparece aqui</p>
                <p id="comment-author">Carlos
                  Henrique Santos</p>
                <p id="comment-explained">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da
                  análise da dimensão e impacto de processo formativo situado impacto de processo formativo
                  processo...</p>
                <div class="comment-options">
                  <img id="more-informations" src="../assets/mais informações.png">
                  <div class="favorite-btn">
                    <img id="btn-bg" src="../assets/button bg.svg">
                    <img id="heart" src="../assets/green apples 22.png">
                  </div>
                  <p id="comment-indexes" (click)="expandComments()"><span id="like-text">4 likes</span>4 respostas</p>
                </div>
              </div>
            </div>
            
            <div class="comments-container"> <!-- Comentários para expansão -->
              <div class="comment answered-topic expanded">
                <div class="comment-informations">
                  <p class="ops-topic-subject">Assunto da pergunta aparece aqui</p>
                  <p id="comment-author">Carlos
                    Henrique Santos</p>
                  <p id="comment-explained">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da
                    análise da dimensão e impacto de processo formativo situado impacto de processo formativo
                    processo resente relato inscreve-se no campo
                      da análise da dimensão e impacto de processo formativo situado impacto de processo formativo
                      processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo?</p>
                  <div class="comment-options">
                    <img id="more-informations" src="../assets/mais informações.png">
                    <div class="favorite-btn">
                      <img id="btn-bg" src="../assets/button bg.svg">
                      <img id="heart" src="../assets/green apples 22.png">
                    </div>
                    <p id="comment-indexes" (click)="expandComments()"><span id="like-text">4 like</span>4 respostas</p>
                  </div>
                </div>
              </div>

              <div class="answer-comment one">
                <div class="answer-author">
                  <p class="author-name">Adriano da Silva</p>
                  <p class="authorid">Autor</p>
                  <img class="sign-author" src="../assets/autor.png">
                </div>

                <p class="answer">Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
              </div>
              
              <div class="answer-comment two">
                <div class="answer-author">
                  <p class="author-name">Carlos Henrique Santos</p>
                </div>

                <p class="answer">Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo formativo situado impacto de processo formativo. Obrigada pela resposta, muito interessante o seu trabalho!</p>
              </div>

              <div class="answer-comment three"><div class="answer-author">
                  <p class="author-name">Carmila Ferreira Andrade</p>
                  <p class="authorid">Coautor</p>
                  <img class="sign-author" src="../assets/autor.png">
                </div>

                <p class="answer">Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.<br><br> Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p></div>

              <div class="answer-comment four"><div class="answer-author">
                  <p class="author-name">Adriano da Silva</p>
                  <p class="authorid">Coautor</p>
                  <img class="sign-author" src="../assets/autor.png">
                </div>

                <p class="answer">Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p></div>
            </div>
          </div>
        </div>
      </div> <!-- Footer da página -->
      <img id="footer" src="../assets/imagem - footer.png">
    </div>
  </div>
</div>