<main>
  <aside>
    <div class="sidebar">
      <div class="header sidebar">
        <div class="titulo-sidebar">
          <h3>SLACA 2019</h3>
        </div>
      </div>
      <img id="scala-logo" src="../assets/dewey-4.png" alt="Logo da 13 Scala" />
      <nav class="navbar nav">
        <div class="navbar-opções">
          <a href="#" id="apresentação"><label>Apresentação</label></a>
          <a href="#" id="comites"><label>Comitê</label></a>
          <a href="#" id="autores"><label>Autores</label></a>
          <a href="#" id="eixos-tematicos"><label>Eixos temáticos</label></a>
          <a href="#" id="trabalhos"><label>Trabalhos</label></a>
          <a href="#" id="contato"><label>Contato</label></a>
        </div>
      </nav>
    </div>
  </aside>
</main>