/* app.component.scss */

/* Side Bar */

#page {
  width: 1316px;
  height: 100%;
}

.sidebar-content {
  position: absolute;
  z-index: 2;
}

aside {
  position: fixed;
  width: 220px;
  height: 100%;
  background: #FFF;
  flex: 0 0 13.87%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 524px;
  width: 220px;
}

h3 {
  padding: 17.8px;
  margin: 0;
  font-weight: 600;
  font-size: 28px;
}


.header.sidebar {
  display: flex;
  font-size: 20px;
  color: #FFF;
  align-items: center;
  font-family: "Roboto";
  line-height: normal;
  font-style: normal;
}


.title-sidebar {
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  width: 220px;
  height: 68px;
  text-align: center;
}

#scala-logo {
  width: 100%;
  height: 258px;
  margin: 0px;
}

#apresentation,
#committees,
#authors,
#theme,
#works,
#contact {
  border-bottom: 2px solid #E7E7E7;
  width: 220px;
  height: 15px;
}

#works {
  width: 215px;
}

.navbar-options a {
  color: #725c5c;
  font-family: "Quicksand";
  font-size: 15px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 9px;
  padding-top: 9px;
  display: block;
}

label {
  padding-left: 20px;
}

.navbar-options a:hover {
  background: #fdf1eb;
}

.navbar-options a:active,
#works {
  background: #fdf1eb;
}

#works {
  border-left: 5px solid #ed7839;
}

/* Cabeçalho */

.main {
  width: 1316px;
  margin-left: 220px;
  z-index: 1;
  position: absolute;
  min-height: 100%;
}

.headerp.page {
  width: 1316px;
  z-index: 1;
  position: absolute;
}

.headerp {
  width: 679px;
  height: 68px;
  display: inline-flex;
  flex-direction: row;
  z-index: 1000;
  background-color: #FDF1EB;
}

.headerp-txt1 {
  width: 643px;
  display: block;
  padding-left: 36px;
  color: #725C5C;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
}

#top-text-1 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;
}

#top-text-2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  position: relative;
}

#user-code {
  font-size: 14px;
  font-weight: 400;
  margin-top: -2px;
  margin-bottom: 4px;
  position: relative;
}

#header-language {
  display: inline-flex;
}


#language-btn {
  display: flex;
  align-items: center;
  width: 97px;
  height: 34px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 17px 22px 17px 292.82px;
  overflow: hidden;
}

#globo {
  width: 22px;
  height: 21px;
  flex-shrink: 0;
  margin: 5px 0 8px 9px;
}

#language-text {
  padding: 0;
  margin: 8px 5px 8px 0;
  color: #333;
  font-family: "Quicksand";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.dropdown {
  flex-shrink: 0;
  margin-top: 16px;
  margin-bottom: 14px;
  cursor: pointer;
}

.user-header {
  position: relative;
  display: flex;
  align-items: center;
}

#user-informations {
  width: 500px;
  height: 68px;
  display: flex;
}

.headerp-txt2 {
  display: block;
  height: 68px;
  color: #333;
  text-align: right;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#welcome-message {
  font-size: 14px;
  margin: 17px 2px 1px 0;
}

#user-email {
  font-size: 12px;
  margin: 0 2px 17px 0;
}

#notification-sign {
  position: absolute;
  width: 12px;
  right: 30px;
  top: 17px;
  height: 12px;
  border-radius: 50%;
  background: var(--Danger, #F85959);
  display: flex;
  align-items: center;
  justify-content: center;
}

#notification-number {
  color: #FFF;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
}

#woman-profile {
  position: absolute;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 19px 29px 19px 0;
  cursor: pointer;
}

/* Conteúdo central da página */

.page-body {
  margin-top: 68px;
  min-height: calc(100vh - 68px);
}


#title-btn {
  display: inline-flex;
  margin: 0 45px 0 43px;
  height: 93px;
}

/* Título do trabalho */

#title-analysis {
  width: 786px;
  padding: 20px 0 19px 0;
}

h2 {
  margin: 0;
  height: 54px;
  flex-shrink: 0;
  color: #ED7839;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
}

/* Barra de botões */

.general-options {
  width: 216px;
  padding: 20px 0 5px 0;
  margin-left: 226px;
}

#general-btn {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

#make-quote {
  color: #ED7839;
  font-family: Roboto;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.7px;
  width: 239px;
  height: 35px;
}

/* Vídeo */

.video-details {
  display: inline-flex;
  padding: 0 45px 30px 45px;
  position: relative;
  width: 1223.4px;
}

.video-principal {
  position: relative;
  width: 783px;
  height: 439px;
  background-image: url("../assets/dewey 1.png");
}

.video-principal img {
  position: absolute;
  width: 783px;
  height: 439px;
  border-radius: 3px;
}

.video-principal h3 {
  width: 734px;
  height: 54px;
  padding: 35px 17px 350px 32px;
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1.2px;
}

.author {
  position: absolute;
  width: 553px;
  height: 86px;
  padding: 301px 199px 52px 31px;
}

.author img {
  width: 84px;
  height: 86px;
  stroke-width: 1px;
  stroke: #ED7839;
}

.author-informations {
  position: absolute;
  padding: 10px 0 8px 101px;
}

#author-name {
  color: #FFF;
  width: 417px;
  height: 27px;
  font-family: Roboto;
  font-size: 34px;
  margin: 0 0 5px 0;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1.7px;
}

#author-formation {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 0;
  padding-left: 2px;
}

/* Detalhes da apresentação */

.apresentation-details {
  width: 242px;
  height: 439px;
  border-radius: 3px;
  border: 1px solid #ECECEC;
  margin-left: 200.3px;
}

#details-text {
  width: 100%;
  height: 45px;
  border-radius: 3px 3px 0px 0px;
  border: 1px solid #ECECEC;
  background: #FDF1EB;
}

#details-text p {
  width: 212px;
  color: #4E4E4E;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  margin: 11px 15px 9px 15px;
}

.text-scroll {
  display: inline-flex;
  width: 100%;
  height: 394px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.24px;
}


.presentation-text {
  color: #5C5C5C;
  font-size: 12px;
  font-style: normal;
  padding: 15px 0 15px 15px;
  line-height: 130%;
  width: 212px;
  height: 364px;
  margin: 0;
}

.bold-text.one {
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.24px;
}

#bold-text-2 {
  color: #5C5C5C;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.28px;
}

#authors-section {
  color: #5C5C5C;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.28px;
}

#universities-list {
  color: #ADA0A0;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.24px;
}

.scroll-bar {
  width: 3px;
  margin: 10px 6px 17px 6px;
  height: 367px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #E7E7E7;
}

.scroll-bar.select {
  margin: 0;
  height: 200px;
  border-radius: 5px;
  background: #BFBFBF;
}

/* Resumo */

.resume-comments {
  padding: 0 45px 0 45px;
  position: relative;
  width: 1223.4px;
  height: 100%;
}

.resume {
  max-height: 535px;
  border-radius: 3px;
  border: 1px solid #ECECEC;
}

.resume.header {
  height: 45px;
  border-radius: 3px 3px 0px 0px;
  background: #FDF1EB;
}

.resume.header p {
  color: #4E4E4E;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  width: 1028px;
  margin: 10px 15px;
}

.resume.text {
  border: 0;
  color: #5C5C5C;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: 0.50px;
  align-self: stretch;
  width: 1196.3px;
  padding: 15px;
  transition: max-height 0.5s ease;
}

#more {
  display: none;
}

.btn-show-more {
  color: #ED7839;
  font-weight: 700;
  line-height: 152.344%;
  text-decoration: none;
  cursor: pointer;
}

/* Discussões */

.discussion-section {
  width: 100%;
  height: auto;
  border-radius: 3px;
  border: 1px solid #ECECEC;
  margin-top: 30px;
  margin-bottom: 50px;
}

.discussion-section.text {
  margin: 0 0 15px 0;
  height: 45px;
  border-radius: 3px 3px 0px 0px;
  background: #FDF1EB;
}

#discussions {
  width: 1027px;
  color: #4E4E4E;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  margin: 10px 15px 10px 16px;
}

.comment {
  width: 1196.3px;
  height: 148px;
  margin: 0 15px 0 15px;
  border-radius: 4px;
  border: 1px solid #E7E7E7;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

.comment.answered-topic {
  height: 164px;
  margin-top: 17px;
  margin-bottom: 15px;
}

.comment-informations {
  margin: 17px 23.17px 48px 24.17px;
  height: 83px;
  width: 1.148.969px;
}

.comment-informations p {
  margin: 0;
}

.ops-topic-subject {
  color: #ED7839;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3px;
}

#comment-author {
  color: #5C5C5C;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 542.071px;
  margin-bottom: 10px;
}

#comment-explained {
  color: #4D4D4D;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.comment-options {
  display: inline-flex;
  width: auto;
  height: 19px;
  margin-top: 12px;
}

#more-informations {
  width: 4px;
  height: 18px;
  flex-shrink: 0;
  margin: 1px 15px 0 0;
}

.favorite-btn {
  display: flex;
  align-items: center;
  width: 27px;
  height: 19px;
  flex-shrink: 0;
  margin: 1px 15px 0 0;
  position: relative;
}

#btn-bg {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

#heart {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment-options p {
  margin: 0;
  color: #757575;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
}

#comment-indexes {
  width: auto;
  cursor: pointer;
}

#like-text {
  margin-right: 15px;
}

.create-topic {
  display: block;
  margin: 0 300.15px;
  align-items: center;
}

.topic-icons {
  display: inline-flex;
  margin: 0 183.74px 35.06px 186px;
}

#topic-icon-1 {
  margin-right: 51.74px;
}

#topic-icon-2 {
  margin-right: 53.74px;
}

#topic-text-1 {
  color: #ED7839;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 96px 27px 108px;
  width: 422px;
  height: 22px;
}

#topic-text-2 {
  color: #595959;
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 626px;
  line-height: 137.5%;
  margin: 0;
  left: 216.5px;
  right: 216.5px;
}

.division {
  margin-top: 14px;
  display: flex;
  width: 100%;
  align-items: center;
  height: 32px;
  margin-bottom: 15px;
  position: relative;
}

.divider {
  position: relative;
  width: 1027px;
  margin: 0 99.65px;
}

.btn-create-topic {
  display: block;
  position: absolute;
  cursor: pointer;
}

.btn-create-topic.img {
  width: 133px;
  height: 32px;
  flex-shrink: 0;
  margin: 0 546.65px;
}

.btn-create-topic.text {
  color: #FFF;
  text-align: center;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  width: 84px;
  height: 16px;
  margin: 0;
  left: 25px;

}

#add {
  display: block;
}

.topic-btn {
  display: inline-flex;
  position: absolute;
  width: 133px;
  height: auto;
  margin: 0 530.2px 0 560.2px;
}

/* Conteiner de comentários */

.comments-container {
  width: 1196.3px;
  height: auto;
  display: none;
  margin: 17px 15px 15px 15px;
  border-radius: 4px;
  border: 1px solid #E7E7E7;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

.comment.answered-topic.expanded {
  height: 150px;
  margin: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
.answer-comment {
  width: 1196.3px;
  height: 131px;
}

.answer-comment.one {
  background: #F8F8F8;
}

.answer-comment.three {
  height: 184px;
  background: #F8F8F8;
}

.answer-comment.four {
  background: #F8F8F8;
  border-top: none;
}

.answer-author {
  display: inline-flex;
}

.author-name {
  width: 542.599px;
  height: 15px;
  color: #5C5C5C;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 18px 483.706px 10px 24.170px;
}

.authorid {
  width: 64.86px;
  color: #ED7839;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}

.sign-author {
  width: 20.917px;
  height: 22.22px;
  flex-shrink: 0;
  margin: 11px 24.170px 25px 33.07px;
}

.answer {
  margin: 0 24.170px;
  color: #4D4D4D;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Formulário para adicionar tópico */

form {
  display: none;
  height: 245px;
  margin: 0 15.95px 0 17.53px;
}

#share-feedback {
  color: #5C5C5C;
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 30.84px 22px 29.3px;
}

.subject-content {
  width: 1020.515px;
  height: 19px;
  color: #ED7839;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.subject-content.text-1 {
  margin-bottom: 1px;
}

.subject {
  width: 100%;
  height: 39px;
  border-radius: 3px;
  border: 1px solid #CCC;
  background: #FFF;
}

.subject::placeholder {
  color: #4D4D4D;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding: 10px 572.2px 11px 23.13px;
}

.subject-content.text-2 {
  margin-top: 10px;
  margin-bottom: 4px;
}

.topic-content {
  display: inline-flex;
  width: 100%;
  height: 113px;
  border-radius: 3px;
  border: 1px solid #CCC;
  background: #FFF;
}

#gray-rectangle {
  margin-top: 82px;
  width: 100%;
  height: 31px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #CCC;
  background: #EAF1F2;
}

#send-topic {
  width: 205.104px;
  height: 31px;
  flex-shrink: 0;
  margin-top: 82px;
  border-radius: 0px 0px 4px 0px;
  border-color: transparent;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  color: #FFF;
  text-align: center;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

/* Mensagem de tópico enviado*/

.message-topics {
  display: none;
}

.thanks-contribution {
  width: 805.246px;
  height: 109px;
  margin: 0 210.527px;
  margin-bottom: 47px;
}

#thanks-txt-1 {
  color: #ED7839;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

#thanks-txt-2 {
  color: #595959;
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%;
}

#thanks-txt-3 {
  color: #F48F44;
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.5%;
  text-decoration-line: underline;
  cursor: pointer;
}

.topic-sent {
  width: 1196.3px;
  height: 148px;
  position: absolute;
}

#topic-sent-sucess {
  position: absolute;
  width: 414.292px;
  height: 78px;
  margin: 35px 406.006px;
}

#topic-sent-sucess img {
  margin: 0 191.646px 7.78px 201.646px;
}

.divisiontwo {
  margin-top: 14px;
  display: flex;
  width: 100%;
  align-items: center;
  height: 32px;
  margin-bottom: 15px;
  position: relative;
}

.dividertwo {
  position: relative;
  width: 1027px;
  margin: 0 99.65px;
}

.btn-createtwo-topic {
  position: absolute;
  cursor: pointer;
}

.btn-create-topictwo.img {
  position: absolute;
  width: 235.145px;
  height: 32px;
  flex-shrink: 0;
  margin: 0 494.1315px;
  cursor: pointer;
}

.btn-create-topictwo.text {
  color: #FFF;
  text-align: center;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  width: auto;
  height: 16px;
  margin: 0 55.6995px;
  left: 25px;

}

.topic-btntwo {
  display: inline-flex;
  position: absolute;
  width: 235.137px;
  height: auto;
  margin: 0 494.1315px;
  cursor: pointer;
}

#waiting-feedback {
  width: 270px;
  height: 20px;
  margin: 0 72.144px 8px 72.144px;
  color: #707070;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#edit-topic {
  width: 80px;
  margin: 0 167.144px;
  color: #ED7839;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.comment.card-topic {
  margin-bottom: 15px;
  background: #DDD;
  opacity: 0.3;
  filter: blur(2px);
}

/* Footer da página */

#footer {
  margin: 50px 115px 0 115px;
}
