<div class="sidebar-content"> <!-- Side bar -->
  <aside>
    <div class="sidebar">
      <div class="header sidebar">
        <div class="title-sidebar">
          <h3>SLACA 2019</h3>
        </div>
      </div>
      <img id="scala-logo" src="../assets/dewey-4.png" alt="Logo da 13 Scala" />
      <nav class="navbar nav">
        <div class="navbar-options">
          <a href="#" id="apresentation"><label>Apresentação</label></a>
          <a href="#" id="committees"><label>Comitê</label></a>
          <a href="#" id="authors"><label>Autores</label></a>
          <a href="#" id="theme"><label>Eixos temáticos</label></a>
          <a href="#" id="works"><label>Trabalhos</label></a>
          <a href="#" id="contact"><label>Contato</label></a>
        </div>
      </nav>
    </div>
  </aside>
</div>

<div class="main">
  <div class="headerp page"> <!-- Cabeçalho -->
    <div class="headerp">
      <div class="headerp-txt1">
        <p id="top-text-1">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
        <p id="top-text-2">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
        <p id="user-code">ISSN: 1234-5678</p>
      </div>
    </div>

    <div id="header-language">
      <div id="language-button">
        <img class="globo" src="../assets/language-image.svg" alt="Imagem de um globo" />
        <div class="language-text">PT, BR</div>
        <svg class="dropdown" xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
          <path d="M4 5L7 1H1L4 5Z" fill="#333333" stroke="#333333" />
        </svg>
      </div>
    </div>

    <div id="user-informations">
      <div class="headerp-txt2">
        <p id="welcome-message">Bem vindo!</p>
        <p id="user-email">alguem12@galoascience.com</p>
      </div>

      <div id="user-header">
        <img id="woman-profile" src="../assets/image.png" alt="Imagem do usuário (uma mulher)">
        <div id="notification-sign">
          <p id="notification-number">2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="title-buttons">
      <div class="title-analysis"> <!-- Titulo -->
        <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
          Campinas/SP</h2>
      </div>

      <div class="general-options">
        <div id="general-buttons"> <!-- Botões do site -->
          <img src="../assets/download button.png" alt="Botão de Download" />
          <img src="../assets/favorite button.png" alt="Botão de favoritar" />
          <img src="../assets/doi-button.svg" alt="Botão doi" />
        </div>
        <p class="make-quote">COMO CITAR ESSE TRABALHO?</p>
      </div>
    </div>

    <div class="video-details">
      <div class="video-principal"> <!-- Vídeo e informações -->
        <div class="informações-video">
          <img src="../assets/vídeo overlay.png" alt="Camada do vídeo" />
          <h3>
            Análise sensorial de preparações funcionais desenvolvidas para
            escolares entre 09 e 15 anos, do município de Campinas/SP
          </h3>
          <div class="author">
            <img src="../assets/round.svg" alt="Imagem Master Round">
            <div class="author-informations">
              <p id="author-name">Beatriz Christiane Melo</p>
              <p id="author-formation">FCA / Universidade Estadual de Campinas</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>